<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="css/styles.css">
      <title>Blogspot</title>
</head>
<body> 
      <div class="info">
            <h1>User Profile</h1>
            <h3>Username : <%= userName%></h3>
            <h3>Email : <%= mail%></h3>
      </div>
      <div class="blogs">
            <h2>My Blogs</h2>
            <% myBlogs.forEach(blog => { %>
                  <h3><%= blog.title%></h3>
                  <h4><%= blog.content%></h4>
            <% }) %>
      </div>
      <div class="link">
            <a href="/<%=userName%>/edit">Edit Profile</a>
            <a href="/login">Log Out</a>
            <a href="/">Home</a>
      </div>

</body>
</html>