<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="css/styles.css">
      <title>Blogspot</title>
</head>
<body> 
      <div class="profile-home">
            <header class="header">
                  <img class="logo" src="../images/logo1.png" alt="">
              <nav class="navbar">
                  <a href="#home">Home</a>
                  <a href="/login">Login</a>
                  <a href="/register">Register</a>
                  <a href="#feedback">Feedback</a>
              </nav>
              <div class="icons">
                  <div class="fas fa-bars" id="menu-btn"></div>
              </div>
              </header>
              <div class="info">
                  <h1>User Profile</h1>
                  <img src="../images/pfp.jpg" alt="">
                  <h3>Username : <%= userName%></h3>
                  <h3>Email : <%= mail%></h3>
            </div>
            <div class="links">
                  <a href="/<%=userName%>/edit"><button id="edit">NEW BLOG</button></a> 
                  <a href="/login"><button>Log Out</button></a> 
            </div>
      </div>
      <div class="profile-blogs">
            <div class="content">
            <h1>My Blogs</h1>
            <% myBlogs.forEach(blog => { %>
                  <div class="blog">
                        <div class="titname">
                               <h3 id="title"><%= blog.title%></h3>
                        </div>     
                  <h4 id="content"><%= blog.content%></h4>
                  </div>
            <% }) %>
            </div>
      </div>
</body>
</html>